.header {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid gray;
  border-radius: 10px;
  width: 60%;
  height: 15%;
  margin-bottom: 75px;

}
.score{
  padding-top: 10px;
  text-align: center;
  color: darkblue;
  width: 20%;
  border-radius: 5px;
  height: 90%;
  margin-right: 10px;
  background-color: white;
}
.score-text {
  font-size: 20px;
}
.value{
  font-size: 50px;
  color:hsl(200, 50%, 30%);
}
.logo{
  padding-right: 250px;
}